<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2025030821"
    android:versionName="7.3"
    android:compileSdkVersion="33"
    android:compileSdkVersionCodename="13"
    package="com.gmail.heagoo.apkeditor.pro"
    platformBuildVersionCode="33"
    platformBuildVersionName="13">
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="34"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        android:minSdkVersion="22"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:theme="@style/MD.Dark.NoActionBar"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.masrull.crash.App"
        android:debuggable="false"
        android:allowBackup="true"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true">
        <meta-data
            android:name="heagoo.sdcard_folder"
            android:value="ApkEditor"/>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4"/>
        <activity
            android:theme="@style/MD.DayNight.NoActionBar"
            android:label="@string/app_name"
            android:name="com.gmail.heagoo.apkeditor.MainActivity"/>
        <activity android:name="com.rull.mod.SplashActivity">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity-alias
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:name="com.gmail.heagoo.apkeditor.MainActivity-New1"
            android:enabled="true"
            android:targetActivity="com.gmail.heagoo.apkeditor.MainActivity"
            android:roundIcon="@mipmap/ic_launcher_round">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:label="@string/app_name"
            android:icon="@drawable/editorpro2"
            android:name="com.gmail.heagoo.apkeditor.MainActivity-New2"
            android:enabled="false"
            android:targetActivity="com.gmail.heagoo.apkeditor.MainActivity">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:label="@string/app_name"
            android:icon="@drawable/appiconframed"
            android:name="com.gmail.heagoo.apkeditor.MainActivity-New3"
            android:enabled="false"
            android:targetActivity="com.gmail.heagoo.apkeditor.MainActivity">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity-alias>
        <activity android:name="com.gmail.heagoo.apkeditor.ApkInfoActivity"/>
        <activity
            android:name="com.gmail.heagoo.apkeditor.ApkInfoExActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.gmail.heagoo.apkeditor.p098se.SimpleEditActivity"/>
        <activity android:name="com.gmail.heagoo.apkeditor.CommonEditActivity"/>
        <activity android:name="com.gmail.heagoo.apkeditor.p098se.ApkCreateActivity"/>
        <activity android:name="com.gmail.heagoo.imageviewlib.ViewZipImageActivity"/>
        <activity
            android:name="com.gmail.heagoo.apkeditor.ApkComposeActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.gmail.heagoo.apkeditor.FileListActivity"/>
        <activity android:name="com.gmail.heagoo.apkeditor.UserAppActivity"/>
        <activity android:name="com.gmail.heagoo.apkeditor.SettingActivity"/>
        <activity android:name="com.gmail.heagoo.apkeditor.SettingEditorActivity"/>
        <activity android:name="com.gmail.heagoo.apkeditor.SettingHideActivity"/>
        <activity
            android:name="com.gmail.heagoo.apkeditor.TextEditNormalActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.gmail.heagoo.apkeditor.TextEditBigActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.gmail.heagoo.apkeditor.MfSearchRetActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.gmail.heagoo.apkeditor.ApkSearchActivity"/>
        <activity android:name="com.gmail.heagoo.apkeditor.ColorXmlActivity"/>
        <activity android:name="com.gmail.heagoo.apkeditor.prj.ProjectListActivity"/>
        <activity android:name="com.gmail.heagoo.apkeditor.AxmlEditActivity"/>
        <activity android:name="com.gmail.heagoo.apkeditor.OdexPatchActivity"/>
        <activity android:name="com.gmail.heagoo.pngeditor.PngEditActivity"/>
        <activity android:name="com.gmail.heagoo.apkeditor.InfoActivity"/>
        <activity android:name="com.gmail.heagoo.apkeditor.AboutModActivity"/>
        <activity android:name="com.gmail.heagoo.apkeditor.TemplatesActivity"/>
        <service
            android:name="com.gmail.heagoo.apkeditor.ApkComposeService"
            android:foregroundServiceType="dataSync"/>
        <service
            android:name="com.gmail.heagoo.httpserver.HttpService"
            android:foregroundServiceType="dataSync"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:authorities="com.gmail.heagoo.apkeditor.pro.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>
        <activity android:name="com.gmail.heagoo.appdm.PrefOverallActivity"/>
        <activity android:name="com.gmail.heagoo.appdm.PrefDetailActivity"/>
        <activity android:name="com.gmail.heagoo.neweditor.EditorActivity"/>
        <activity android:name="com.gmail.heagoo.sqliteutil.SqliteTableListActivity"/>
        <activity android:name="com.gmail.heagoo.sqliteutil.SqliteTableViewActivity"/>
        <activity android:name="com.gmail.heagoo.sqliteutil.SqliteRowViewActivity"/>
        <activity android:name="com.gmail.heagoo.apkeditor.SelectDbActivity"/>
        <activity android:name="com.gmail.heagoo.apkeditor.VerifyActivity"/>
        <activity android:name="com.gmail.heagoo.apkeditor.SelectFileActivity"/>
        <activity
            android:name="rull.mod.Webku"
            android:configChanges="screenSize|orientation"/>
        <activity android:name="com.rull.mod.Preference"/>
        <activity android:name="rull.mod.WebSetting"/>
        <activity
            android:theme="@style/masrullch"
            android:name="com.masrull.p105ch.MasrullSetting"/>
        <activity
            android:name="cat.ereza.customactivityoncrash.activity.DefaultErrorActivity"
            android:process=":error_activity"/>
        <provider
            android:name="cat.ereza.customactivityoncrash.provider.CaocInitProvider"
            android:exported="false"
            android:authorities="com.gmail.heagoo.apkeditor.pro.customactivityoncrashinitprovider"
            android:initOrder="101"/>
        <activity
            android:label="@string/app_name"
            android:name="com.willme.topactivity.MainActivity"
            android:launchMode="singleTask"/>
        <activity
            android:theme="@style/TransparentTheme"
            android:name="com.willme.topactivity.AppShortcutsActivity"
            android:exported="false"
            android:excludeFromRecents="true"/>
        <service
            android:name="com.willme.topactivity.WatchingService"
            android:enabled="@bool/use_watching_service"/>
        <service
            android:label="@string/app_name"
            android:icon="@drawable/ic_notification"
            android:name="com.willme.topactivity.QuickSettingTileService"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="@bool/qs_tile_service_availability">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true"/>
        </service>
        <receiver android:name="com.willme.topactivity.NotificationActionReceiver">
            <intent-filter>
                <action android:name="com.willme.topactivity.ACTION_NOTIFICATION_CLICK"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
